<div class="mxoPage overflow-hidden">
  <div class="d-flex flex-column justify-content-center align-items-center scrollable-container overflow-auto p-3">
    <img class="rounded-5 shadow-4-strong mb-4 d-none d-xl-block" src="assets/mxo2.jpg" height="350" alt="Profile Picture" id="picture">
    <img class="rounded-5 shadow-4-strong mb-4 d-none d-sm-block d-xl-none" src="assets/mxo2.jpg" height="300" alt="Profile Picture" id="picture">
    <img class="rounded-5 shadow-4-strong mb-4 d-none d-xs-block d-sm-none" src="assets/mxo2.jpg" height="250" alt="Profile Picture" id="picture">
    <img class="rounded-5 shadow-4-strong mb-4 d-block d-sm-none" src="assets/mxo2.jpg" height="200" alt="Profile Picture" id="picture">

    <a class="btn btn-light mb-3 d-none d-md-block" href="https://bmc.link/mxo01">Buy me a coffe <i class="bi bi-cup-hot"></i></a>
    <a class="btn btn-sm btn-light mb-3 d-block d-md-none" href="https://bmc.link/mxo01">Buy me a coffe <i class="bi bi-cup-hot"></i></a>

    <p class="text-center d-none d-xl-block w-50">Hi! My name is Mario Di Modica, I'm 22 years old and I'm a Software Engineer. Send me an e-mail at <a class="email-link" href="mailto:mariodimodica.01@gmail.com">mariodimodica.01@gmail.com</a> for some collaborations! If you want to know somethings new about me, you can also find me here...</p>
    <p class="small-text text-center d-none d-md-block d-xl-none w-75">Hi! My name is Mario Di Modica, I'm 22 years old and I'm a Software Engineer. Send me an e-mail at <a class="email-link" href="mailto:mariodimodica.01@gmail.com">mariodimodica.01@gmail.com</a> for some collaborations! If you want to know somethings new about me, you can also find me here...</p>
    <p class="mini-text text-center d-block d-md-none w-100">Hi! My name is Mario Di Modica, I'm 22 years old and I'm a Software Engineer. Send me an e-mail at <a class="email-link" href="mailto:mariodimodica.01@gmail.com">mariodimodica.01@gmail.com</a> for some collaborations! If you want to know somethings new about me, you can also find me here...</p>

    <div class="justify-content-center align-items-center d-none d-md-flex">
      <a class="nav-link me-5 fs-3" href="https://mxo01.github.io/Personal-Website/"><i class="bi bi-globe2"></i></a>
      <a class="nav-link me-5 fs-3" href="https://www.linkedin.com/in/mariodimodica/"><i class="bi bi-linkedin"></i></a>
      <a class="nav-link me-5 fs-3" href="https://instagram.com/not_mxo?igshid=MzNlNGNkZWQ4Mg=="><i class="bi bi-instagram"></i></a>
      <a class="nav-link me-5 fs-3" href="http://tiktok.com/@not_mxo"><i class="bi bi-tiktok"></i></a>
      <a class="nav-link me-5 fs-3" href="https://github.com/Mxo01"><i class="bi bi-github"></i></a>
      <a class="nav-link fs-3" href="https://stackoverflow.com/users/20103529/mario-di-modica"><i class="bi bi-stack-overflow"></i></a>
    </div>
    <div class="d-flex justify-content-center align-items-center d-md-none">
      <a class="nav-link me-3 fs-5" href="https://mxo01.github.io/Personal-Website/"><i class="bi bi-globe2"></i></a>
      <a class="nav-link me-3 fs-5" href="https://www.linkedin.com/in/mariodimodica/"><i class="bi bi-linkedin"></i></a>
      <a class="nav-link me-3 fs-5" href="https://instagram.com/not_mxo?igshid=MzNlNGNkZWQ4Mg=="><i class="bi bi-instagram"></i></a>
      <a class="nav-link me-3 fs-5" href="http://tiktok.com/@not_mxo"><i class="bi bi-tiktok"></i></a>
      <a class="nav-link me-3 fs-5" href="https://github.com/Mxo01"><i class="bi bi-github"></i></a>
      <a class="nav-link fs-5" href="https://stackoverflow.com/users/20103529/mario-di-modica"><i class="bi bi-stack-overflow"></i></a>
    </div>
  </div>
</div>
