<div class="info overflow-hidden d-flex flex-column align-items-center justify-content-center">
  <!--Desktop-->

  <!--Mobile-->
  <div class="scrollable-container overflow-auto">
    <div class="d-flex flex-column justify-content-center align-items-center p-3" style="width: 100vw; height: 100svh;" *ngIf="id === 'matrimoni'">
      <video class="object-fit-cover opacity-50" muted autoplay webkit-playsinline playsinline>
        <source src="assets/LOOP WEDDING FILM.mp4" type="video/mp4">
      </video>
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 90vw; height: auto;">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-light text-center fw-bold ">Matrimoni</h1>
          <p class="text-light text-center fw-light fst-italic">
            Riassunto completo del vostro matrimonio.
            <br>
            L’intera giornata raccontata attraverso riprese video e montaggio professionali.
          </p>
          <button routerLink="" class="btn btn-outline-light rounded-5">Back</button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center p-3" style="width: 100vw; height: 100svh;" *ngIf="id === 'drone'">
      <video class="object-fit-cover opacity-50" muted autoplay webkit-playsinline playsinline>
        <source src="assets/DRONE LOOP.mp4" type="video/mp4">
      </video>
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 90vw; height: auto;">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-light text-center fw-bold">Drone</h1>
          <p class="text-light text-center fw-light">
            Riprese aeree dell’intera giornata da implementare al wedding film.
          </p>
          <button routerLink="" class="btn btn-outline-light rounded-5">Back</button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center p-3" style="width: 100vw; height: 100svh;" *ngIf="id === 'sde'">
      <video class="object-fit-cover opacity-50" muted autoplay webkit-playsinline playsinline>
        <source src="assets/SDE LOOP.mp4" type="video/mp4">
      </video>
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 90vw; height: auto;">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-light text-center fw-bold">SDE</h1>
          <p class="text-light text-center fw-light">
            Trailer del vostro evento, sviluppato in giornata e proiettato al locale.
          </p>
          <button routerLink="" class="btn btn-outline-light rounded-5">Back</button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center p-3" style="width: 100vw; height: 100svh;" *ngIf="id === 'reel'">
      <video class="object-fit-cover opacity-50" muted autoplay webkit-playsinline playsinline>
        <source src="assets/REEL Loop.mp4" type="video/mp4">
      </video>
      <div class="position-absolute top-50 start-50 translate-middle" style="width: 90vw; height: auto;">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-light text-center fw-bold">Reel</h1>
          <p class="text-light text-center fw-light">
            Creazione di un breve video personalizzato destinato ad uso social.
          </p>
          <button routerLink="" class="btn btn-outline-light rounded-5">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
